html {
    --ui-gradient: linear-gradient(to left, rgb(44, 44, 51) 0%, rgb(18, 18, 20) 100%);
    --error-text: rgb(255, 122, 122);
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
html {
    height: 100%;
    display: flex;
    background: var(--ui-gradient);
} 
body {
    background-size: cover;
    height: 100%;
    flex: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    background: var(--ui-gradient)
}
a {
    color: inherit;
    text-decoration: inherit;
}
header .menu {
    display: flex;
    width: 100%;
}
header a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    min-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s ease;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
header a.auth {
    font-weight: 200;
    color: rgba(255,255,255,.6);
}
header a:hover {
    background: rgba(255,255,255,.02);
}
header a.active {
    background: rgba(255,255,255,.05);
    font-weight: 400;
}
header a.cart {
    float: right;
    min-width: 65px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
header a.cart .count {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(255, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 700;
    transition: all 0.3s ease;
}
header a.cart .count.hidden {
    opacity: 0;
}
header a.cart img {
    margin: 10px;
    height: 32px;
}
header img {
    height: 100%;
}
.main-content {
    min-height: 100%;
    width: 100%;
    max-width: 100%;
}
.slide-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.slide-wrapper .sneaker {
    position: absolute;
    right: -250px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 900px;
    z-index: 0;
    filter: brightness(1) grayscale(0.95) hue-rotate(2022deg);
    user-select: none;
}
.slide-text {
    max-width: 700px;
    position: relative;
    z-index: 1;
}
.slide-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
}
.slide-text p {
    font-size: 2em;
    margin: 0;
}
.slide-text a {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255,255,255,.1);
    border-radius: 10px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide-text a p {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 500;
}
.slide-text a p .material-icons {
    margin-left: 2px;
}
.slide-text a::before {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    width: 90%;
    border-radius: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(45deg, #0fd850 0%, #f9f047 100%);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(70px) scale(1.5);
}
.slide-text a:hover::before {
    opacity: 1;
    width: 100%;
    border-radius: 0px;
    transform: translateY(0px) scale(1);
}
.slide-text a:hover {
    color: #000;
}
.anix {
    opacity: 0;
}
.catalog-wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.catalog-wrapper .catalog {
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
    margin-top: 80px;
    max-width: 100%;
}
.catalog-wrapper .catalog h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.catalog-wrapper .catalog h1:first-of-type {
    padding-top: 70px;
}
.catalog-wrapper .catalog .carousel {
    height: 300px;
    width: calc(100%);
    overflow: hidden;
}
.catalog-wrapper .catalog .carousel .card {
    background-size: cover;
    border-radius: 8px;
    width: 443px;
    height: 224px;
    background-position: center;
    margin: 10px;
    transform: scale(0.9);
    transition: all 0.1s ease !important;
    opacity: .6;
    outline: none;
    font-size: 20px;
    position: relative;
}
.catalog-wrapper .catalog .carousel .card h3 {
    user-select: none;
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    text-shadow: 0px 2px 9px rgba(0,0,0,.7);
}
.catalog-wrapper .catalog .carousel .card.slick-current {
    transform: scale(1);
    opacity: 1;
    font-size: 24px;
    transition: all 0.1s ease !important;
}
article.item-card {
    width: 280px;
    min-height: 430px;
    background: white;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}
article.item-card .image {
    width: 280px;
    height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}
article.item-card h2 {
    margin-bottom: 5px;
    font-size: 1.6em;
}
article.item-card h3 {
    margin: 0;
}
article.item-card h4 {
    margin: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
article.item-card button {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    display: block;
    font-family: 'Montserrat', sans-serif;
    background: black;
    border-radius: 50px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}
article.item-card button p {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}
article.item-card button p .material-icons {
    margin-right: 2px;
    font-size: 1.2em;
}
article.item-card button:hover {
    background: #222;
}
.catalog-wrapper .catalog .all-items {
    display: flex;
    width: 100%;
    min-height: 100%;
}
.catalog-wrapper .catalog .all-items .all-items-sidebar {
    min-width: 300px;
}
.catalog-wrapper .catalog .all-items .all-items-sidebar .filters {
    position: sticky; 
    top: 100px;
    text-align: left;
}
.catalog-wrapper .catalog .all-items .all-items-sidebar h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-wrapper .catalog .all-items .all-items-sidebar h2 .text {
    margin-right: 5px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.catalog-wrapper .catalog .all-items .all-items-sidebar h2 img {
    width: 24px;
    height: 24px;
}
.catalog-wrapper .catalog .all-items-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 100%;
}
.catalog-wrapper .catalog .all-items-content.no-data::after {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Товары по данному запросу не найдены..";
    font-size: 32px;
    opacity: .3;
}
.auth-form-wrapper {
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form-wrapper .auth-form {
    width: 400px;
    height: 520px;
    background: white;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
form h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}
form .error {
    color: var(--error-text);
    font-size: 14px;
    font-weight: 700;
}
form input {
    margin: 20px auto;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #0000001A;
    border-radius: 7px;
    opacity: 1;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    outline: none;
}
form input[type=submit] {
    background: var(--ui-gradient);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form input[type=submit]:hover {
    opacity: .9;
}
.auth-form-wrapper .auth-form .hint {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: black;
    text-align: left;
}
.auth-form-wrapper .auth-form .hint h3 {
    font-weight: 400;
    margin: 0;
}
.auth-form-wrapper .auth-form .hint a {
    font-weight: 300;
}
.cabinet {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 80px;
    box-sizing: border-box;
}
.cabinet .sidebar {
    width: 300px;
    text-align: center;
}
.cabinet .sidebar .user-info {
    text-align: center;
    padding-top: 40px;
}
.cabinet .sidebar .user-info .avatar {
    width: 128px;
    height: 128px;
    background: #222;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.cabinet .sidebar .user-info .avatar::before {
    background: rgba(0,0,0,.7);
    content: 'cloud_upload';
    font-family: 'Material Icons';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 40px;
    opacity: 0;
    transition: all 0.2s ease;
}
.cabinet .sidebar .user-info .avatar:hover::before, .cabinet .sidebar .user-info .avatar:focus::before {
    opacity: 1;
}
.cabinet .sidebar .user-info input[type=file] {
    display: none;
}
.cabinet .sidebar .user-info h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.cabinet .sidebar .user-info .avatar.default {
    background-size: 32px;
}
.cabinet .sidebar .actions h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    opacity: .7;
    transition: all 0.3s ease;
}
.cabinet .sidebar .actions h3:hover {
    opacity: .4;
}
.cabinet .sidebar .actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}
.cabinet .sidebar .actions a:hover {
    opacity: .7;
}
.cabinet .sidebar .actions a span.material-icons {
    margin-left: 5px;
}
.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgba(0,0,0,.5);
}
.modal-wrapper .modal {
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 8px;
    position: relative;
    transform: scale(0);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper .modal form {
    width: 300px;
}
.modal-wrapper.hidden {
    display: none;
}
.modal-wrapper.active {
    opacity: 1;
}
.modal-wrapper.active .modal {
    transform: scale(1);
}
.modal-wrapper .modal .close {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal-wrapper .modal .close:hover {
    background: #ddd;
}
.page-select {
    padding: 50px;
    box-sizing: border-box;
}
.page-select .page {
    padding: 10px;
    border: none;
    background: rgba(255,255,255,.05);
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    transition: all 0.3s ease;
    outline: none;
}
.page-select .page:hover {
    background: rgba(255,255,255,.1);
}
.page-select .page.sw {
    opacity: .5;
}
.page-select .page.current {
    font-weight: 500;
    color: white;
}
.product-info {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    padding-top: 80px;
    background: white;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    color: black;
}
.product-info .info {
    padding: 20px;
    padding-left: 50px;
    width: 100%;
}
.product-info .info h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin: 0;
}
.product-info .info h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 32px;
    margin: 0;
}
.product-info .info h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}
.product-info .info .color-select, .product-info .info .size-select {
    display: flex;
    align-items: center;
}
.product-info .info .color-select input, .product-info .info .size-select input {
    display: none;
}
.product-info .info .color-select label {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
    border: 2px solid rgb(241, 241, 241);
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-info .info .color-select input:checked + label {
    transform: scale(1.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    border: 2px solid white;
}
.product-info .info .size-select {
    overflow: hidden;
    border-radius: 5px;
    width: fit-content;
}
.product-info .info .size-select label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #eee;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-info .info .size-select input:checked + label {
    background: #ddd;
}
.product-info .add-to-cart {
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.product-info .add-to-cart button {
    width: 100%;
    border: none;
    border-radius: 50px;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 10px;
}
.product-info .add-to-cart button:hover {
    background: #222;
}
.product-info .add-to-cart button p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-info .add-to-cart button p span.material-icons {
    margin-right: 5px;
}
.product-info .add-to-cart h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 54px;
    letter-spacing: -1.18px;
    margin: 0;
}
.product-info h1.not-found {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(34, 34, 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 59);
}
.zoom-contatiner {
    display: flex;
}
.picZoomer-zoom-wp {
    user-select: none;
    z-index: 1;
}
.picZoomer .rt {
    z-index: 2;
    position: relative;
    transition: all 0.3s ease;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.picZoomer .rt:hover {
    opacity: 0 !important;
}
.picZoomer-cursor {
    display: none !important;
}
.piclist .pic {
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(0.7);
    border-radius: 8px;
    overflow: hidden;
    opacity: .9;
    background-size: cover;
    background-position: center;
}
.piclist .pic:hover {
    opacity: 1;
    transform: scale(0.8);
}
.piclist .pic.active {
    opacity: 1;
    transform: scale(0.92);
}
.piclist {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* width */
.piclist::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.piclist::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
.piclist::-webkit-scrollbar-thumb {
    background: #444;
}

/* Handle on hover */
.piclist::-webkit-scrollbar-thumb:hover {
    background: #444;
}
.picZoomer {
    overflow: hidden;
    background: white;
    height: 320px;
    overflow: hidden;
}
.picZoomer img {
    width: auto !important;
}
.cart-page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 80px;
    position: relative;
}
.cart-page.empty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.cart-page.empty::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Корзина пуста.';
    color: white;
    font-size: 48px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    opacity: .3;
}
.cart-page .bottom {
    display: flex;
    justify-content: space-between;
}
.cart-page .bottom .summ {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.cart-page .bottom button {
    width: 300px;
    background: white;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cart-page .bottom button:hover {
    background: #ddd;
}
.cart-page .cart-item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.cart-page .cart-item .photo {
    height: 100px;
    width: 100px;
    min-width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.cart-page .cart-item .info {
    margin-left: 20px;
    width: 100%
}
.cart-page .cart-item .info h1, .cart-page .cart-item .info h2, .cart-page .cart-item .info h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.cart-page .cart-item .info h1 {
    font-size: 32px;
}
.cart-page .cart-item .info h2 {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}
.cart-page .cart-item .info .decrease, .cart-page .cart-item .info .increase {
    padding: 5px;
    background: #eee;
    width: 25px;
    height: 25px;
    border: none;
    margin: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cart-page .cart-item .info .decrease:hover, .cart-page .cart-item .info .increase:hover {
    background: #ddd;
}
.cart-page .cart-item .remove button {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    min-width: 250px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    background: black;
    border-radius: 50px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}
.cart-page .cart-item .remove button p {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}
.cart-page .cart-item .remove button p .material-icons {
    margin-right: 2px;
    font-size: 1.2em;
}
.cart-page .cart-item .remove button:hover {
    background: #222 !important;
}
footer {
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(255,255,255,.05);
}
footer a {
    margin: 5px;
    opacity: .3;
    transition: all 0.3s ease;
}
footer a:hover {
    opacity: .5;
}
footer p {
    color: rgba(255,255,255,.3);
}
button.addtocart.already {
    background: var(--error-text) !important;
}
.collapsible {
    list-style: url(../images/expand-less.svg);
}
.collapsible.hidden {
    list-style: url(../images/expand-more.svg);
}
.collapsible li {
    padding: 10px;
}
.collapsible ul {
    list-style: url(../images/right-arrow.svg);
}
.collapsible .sub {
    list-style: url(../images/expand-less.svg);
}
.collapsible .sub.hidden {
    list-style: url(../images/expand-more.svg);
}
.collapsible .content, .collapsible .sub .content {
    max-height: auto;
    transition: all 0.3s ease;
    overflow: hidden;
    opacity: 1;
}
.collapsible.hidden .content, .collapsible .sub.hidden .content {
    max-height: 0;
    opacity: 0;
}
.collapsible .header, .collapsible .sub.hidden .header {
    cursor: pointer;
}
@media (min-device-width: 2000px){
    html{
        zoom: 2;
        zoom: 200%;
    }
}
@media (max-device-width: 1400px){
    .slide-wrapper .sneaker {
        height: 600px;
        right: -150px;
    }
}
